$primary: hsl(172, 67%, 45%);
$secondary: hsl(186, 14%, 43%);
$third: hsl(184, 14%, 56%);
$bgc: hsl(185, 41%, 84%);
$veryLightGrayishCyan: hsl(189, 41%, 97%);
$white: rgb(255, 255, 255);
$dark: hsl(187, 95%, 17%);
$font: 'Space Mono', monospace;